export(fast_hetop, fh_hetop, gendata_hetop, mle_hetop, triple_goal, waic_hetop)

importFrom("splines", "bs")

importFrom("stats", "dnorm", "nlm", "pnorm", "qnorm", "quantile",
           "rnorm", "sd", "var", "weighted.mean")
